/* Global styles */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

/* Portfolio section styles */
.portfolio {
  padding: 1rem;
}

.portfolio h1 {
  padding-bottom: 1rem;
}

.portfolio h2 {
  padding-bottom: 1rem;
}