* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    }

.about_container {
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
}

.about-content {
    display: flex 0 2 auto;
    justify-content: space-evenly;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-content h1{
    font-family: var(--font-family1);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 33px;
    line-height: 40px;
    margin-top: 0;
}

.about-content h2{
    font-family: var(--font-family1);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-content p{
    font-family: var(--font-family2);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.04px;
    margin-top: 1rem;
    width: 100%;
    text-align: left;
    text-indent: 18px;
}

.about-image{
    display: flex;
    gap: 5px;
    max-width: 50%;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 5rem;
    padding-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1050px) {
    .about_container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .about-content {
        margin: 2rem 3rem 1rem 5rem;
    }

    .about-image {
        display: flex;
        gap: 50px;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .about_container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .about-content {
        margin: 2rem 3rem 1rem;
    }

    .about-image {
        display: flex;
        gap: 5px;
        max-width: 76%;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 490px) {
    .about_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
    }

    .about-content {
        margin: 2rem 2rem 1rem 1rem;
        width: 100%;
    }

    .about-content p {
        font-weight: 500;
        font-size: 14px;
        line-height: 21.04px;
        padding-right: 1.5rem;
    }

    .about-image {
        display: flex;
        flex-wrap: wrap;
        max-width: 75%;
        justify-content: center;
        align-content: flex-end;
    }
}