* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    }

.about_container {
    display: flex;
    background-color: #000000;
    justify-content: center;
}

.about-content h1{
    line-height: 40px;
    margin-top: 0;
}

.about-content h2{
    line-height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-content p{
    line-height: 21.04px;
    margin-top: 1rem;
    padding-left: 20px;
    width: 70%;
    text-align: left;
    text-indent: 18px;
}

.about_container img{
        width: 40%;
        height: auto;
        max-width: 40%;
        object-fit: cover;
}

@media screen and (max-width: 1050px) {
    .about_container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .about-image {
        display: flex;
        gap: 50px;
        max-width: 20%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .about_container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .about-image {
        display: flex;
        gap: 5px;
        max-width: 20%;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 490px) {
    .about_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
    }

    .about-content p {
        line-height: 21.04px;
    }

    .about-image {
        display: flex;
        flex-wrap: wrap;
        max-width: 20%;
        justify-content: center;
        align-content: flex-end;
    }
}