* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    }

.ll__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.ll__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ll__navbar-links_logo {
    margin-right: 2rem;
}

.ll__navbar-links_logo img {
    width: 190.35px;
    height: 52px;
}

.ll__navbar-links_container {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.ll__navbar-links_container p,
.ll__navbar-menusys_container p {
    color: #000000;
    font-family: var(--font-family2);
    font-weight: 700;
    font-size: 18px;
    line-height: 21.04px;
    margin: 0 1rem;
    cursor: pointer;
}

.ll__navbar-menusys {
    margin-left: 1rem;
    display: none;
    position: right;
}

.ll__navbar-menusys svg {
    cursor: pointer;
}

.ll__navbar-menusys_container {
    display: flex;
    flex-direction: column;
}

.ll__navbar-menusys_container-links ul{
    display: flex;
    flex-direction: column;
    background-color: var(--color-footer);
    position: absolute;
    top: .2rem;
    margin-top: 1rem;
    min-width: 160px;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .ll__navbar {
        padding: 2rem;
    }

    .ll__navbar-links_container {
        display: none;
    }

    .ll__navbar-menusys {
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:700px) {
    .ll__navbar {
        padding: 2rem;
    }
}

@media screen and (max-width: 550px) {
    .ll__navbar {
        padding: 2rem;
    }
}