* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    }

.ah__navbar-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
}


.ah__navbar-logo{
    width: 30%;
    display: grid;
    align-self: center;
    padding: 10px;
}

.ah__navbar-logo img{
    margin-top: 10px;
    height: 100px;
}

.ah__navbar-heading {
    width: 30%;
    line-height: 40px;
    align-self: center;
    text-align: center;
    padding: 10px;
}

.ah__navbar-links {
    width: 30%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: right;
}

.ah__navbar-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    font-size: 22px;
    gap: 20px;
}

.ah__navbar-list>a{
    color: var(--color-tan);
    cursor: pointer;
}

.ah__navbar-list>a:hover{
    color: #FFFFFF;
    cursor: pointer;
}

.ah__navbar-list>a:active{
    color: var(--color-sage);
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .ah__navbar-links {
        width: 30%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: right;
    }
    
    .ah__navbar-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-self: center;
        font-size: 20px;
        padding: 10px;
        gap: 3px;
    }
    
}

@media screen and (max-width: 950px) {
    .ah__navbar-links {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: right;
    }
    
    .ah__navbar-list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-self: center;
        font-size: 20px;
        padding: 10px;
        gap: 3px;
    }
    
}

@media screen and (max-width: 500px) {
    .ah__navbar-links {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: right;
    }
    
    .ah__navbar-list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-self: center;
        font-size: 20px;
        padding: 10px;
        gap: 3px;
    }
    
}

@media screen and (max-width: 375px) {
    .ah__navbar-links {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: right;
    }
    
    .ah__navbar-list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-self: center;
        font-size: 16px;
        padding: 10px;
        gap: 3px;
    }
    
}





