    * {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        text-decoration: none;
        }

    .footer_container {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 1rem;
        color: #FFFFFF;
        font-family: var(--font-family2);
        justify-content: space-evenly;
        }

    .footer_container_logo img {
        height: 100px;
        align-items: center;
        }

    .footer_container_links {
        flex: 1;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-family: var(--font-family2);
        justify-content: space-evenly;
        }

    .footer_container_nav ul {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 16px;
        color: var(--color-sage);
        align-items: center;
        text-decoration: none;
        }

    .footer_container_nav li {
        display: flex;
        list-style: none;
        font-size: 18px;
        line-height: 24px;
        }

    .footer_container_nav a {
        color: var(--color-tan);
        display: flex;
        flex-direction: column;
        text-decoration: none;
        line-height: 20px;
        justify-content: space-evenly;
        }

    .footer_container_nav a:hover {
        color: #FFFFFF;
        }
    
    .footer_container_nav a:active {
        color: var(--color-sage);
        }

    .footer_copyright {
        display: flex;
        list-style: none;
        font-size: 13px;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 4.5rem;
        color: var(--color-sage);        }
    

@media screen and (max-width: 1050px) {
    .footer_container {
        display: flex;
        align-content: space-evenly;
    }

}
        
@media screen and (max-width: 650px) {
    .footer_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
        
}
        
@media screen and (max-width: 490px) {
    .footer_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

}

